@font-face {
	font-family: 'DungGeunMo';
	src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff) format("woff");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: "pixel";
	src: url(/static/assets/fonts/pixel.otf) format("opentype")
}

@font-face {
	font-family: "comic";
	src: url(/static/assets/fonts/dpcomic.ttf) format("truetype")
}

a:link {
	text-decoration: none
}

a:visited {
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

html {
	-webkit-font-smoothing: antialiased;
	cursor: url(/static/assets/cursor.png), auto!important;
	scroll-behavior: smooth;
	overflow-x: hidden;
	width: auto
}
@media (min-width: 1100px) {
    body {
        background-image: url(/static/assets/bg.svg);
        background-size: cover;
   }
}
@media (min-width: 600px) and (max-width: 1100px) {
    body {
        background-image: url(/static/assets/back-md.jpg);
        background-size: cover;
    }
}
@media (max-width: 600px) {
    body {
        background-image: url(/static/assets/back-sm.png);
        background-size: cover;
    }
}
body { 
	background-color: #000;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	position: relative;
	overflow: hidden;
	opacity: .95;
	color: #fff;
	font-family: 'DungGeunMo', sans-serif
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	border-bottom: 4px solid #fff;
	background-color: #fff
}

header>.container {
	color: #000;
	display: flex;
	align-items: baseline;
	max-width: 980px;
	margin: 0 auto;
	padding-top: 1rem;
	transition: all .2s ease
}

header>.container>.nav-brand {
	margin-right: auto
}

header>.container>.social-button {
	margin-left: auto
}

.nav-brand .brand-logo {
	margin-right: 1rem
}

.nav-brand>a {
	color: #212529;
	text-decoration: none
}

header.sticky>.container {
	font-size: .8rem;
	padding: 0;
	align-items: center
}

header.sticky .nav-brand h1 {
	margin: 0
}

header.sticky .nav-brand p {
	display: none;
	margin-bottom: 0;
	font-size: .6rem
}

.main {
	margin-top: 100px
}

.card {
	border: none;
	background-color: #212529
}

.search {
	background-color: #212529;
	padding: 1rem
}

.nes-container.job-card {
	padding: 1rem 1.5rem;
	margin-bottom: .5rem
}

.job-list {
	max-height: 450px;
	overflow-y: auto
}

.job-card>a {
	color: #fff
}

.highlight {
	color: #ff0
}

.nomad-icon {
	width: 18px;
	height: 14px;
	background: url(https://nomadcoders.co/m.svg) no-repeat;
	background-size: cover;
	display: inline-block
}